form {
    display: inline-block;
    margin: 5px;
}

#drawing-board {
    margin-top: 5px;
    height: 620px;
}
#sidepanel {
    display: inline-block;
    float: left;
    border: black;
    border-style: ridge;
    height: 600px;
    width: 10em;
    padding: 5px;
    margin-right: 10px;
}
#metrics {
    display: block;
}
#metrics li {
    margin-top: 2em;
}
#canvas {
    display: inline-block;
    float: left;
    border: black ridge;
    padding: 5px;
    height: 600px;
    width: 600px;
    background-color: lightgray;
}